
h5
{
  /* margin-top: -150px; */
background:linear-gradient(90deg,#fceabb 0%,#f8b500 100%);
/* border-top-style: solid; */
/* border-bottom-style: solid; */
/* margin-bottom: 100px; */
  border-radius: 2px;
  padding-left:  10px;
}
h5
img{
  /* margin-bottom:px; */

  border-radius: 50%

}
h1
{
  color: #990000;
    font-size: 90px
}

H4
{
color:  #990000;
  font-size: 60px;
}
.brown
{
margin-bottom: 0.5px;

  background-color:#454547;
  height: 500px;
    background-image: url(' 44.jpg ');
    background-blend-mode: overlay;
}
.frame
{
  margin-top: 50px;
  margin-left: 40px;
  color:#00FFAB;
  font-style: italic;
}
address{
  color:#ECB365;
  font-style: italic;
}
.frame
a
{
  color: #ECB365;
  font-style: italic;
}
.magic
{
  margin-top:-1px;
  background-color: #454547;
  height: 120px;
}
.magic
h5
{
  color: red;
}

.flick
{
   /* background-color: linear-gradient(90deg,#03001e 0%,#7303c0 0%,#DBDBDB 0%,#EAEAEA 100%); */
   /* border: red solid 6px; */
   margin-top: -8px;
   margin-bottom: 18px;
}
.topheader
img
{
  border-radius:50%;

  }
.drama
{
  margin-top: 50px;
  margin-left: 40px;
  color:#00FFAB;
  font-style: italic;
}
.burka
{
  margin-top: -7.3px;
  padding-left:1px;
}
.pusky
{
   background-color:#DAEAF1;
}
.pusky
h4
{
  margin-left: 40px;
  color: #46244C;
  font-size: 39px;
}
h6
{
  margin-left: 40px;
  font-size: 20px;
  font-style: italic;
}
.kusky
{
  margin-top: 50px;
  font-style: italic;
}
.rusky
{
  margin-top: 50px;
  margin-bottom: 50px;
}
.rusky
p{
  font-size: 20px;
  font-style: italic;
  color: red;
}
.jusky
{
  margin-top: 50px;
  margin-bottom: 50px;
}
.jusky
p{
  font-size: 20px;
  font-style: italic;
  color:red;
}
.abhi{
   background-color:#DAEAF1;
   margin-top: -2px;
   margin-bottom: 5px;
}
.abhi
h2
{
color:#46244C;
font-size: 50px;
font-style: italic;
}
.nancy
{
  margin-left: 40px;
  margin-right: 40px;
  font-style: italic;
}
.english
{
  margin-left: 100px;
}
.man{
  margin-left: 50px;
  margin-bottom: 20px;
}
.nen
{
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 20px;
}
.lost
{
  margin-left: 10px;
/* background-color: #DAEAF1; */
}
.lost
p
{
color:red;
font-size: 30px;
font-style: italic;
font-weight: bolder;
}
.men{
  margin-left: 100px;
    margin-bottom: 20px;
}
.ran

{
  font-size: 20px;
  margin-top: 10px;
}
.bot
center
{
  font-size: 50px;
  font-style: italic;
  color: red;
}
.a{
  color: red;
  font-size: 20px;
  font-style: italic;
}
.b{
  color: red;
  font-size: 20px;
  font-style: italic;
}
.c{
  color: red;
  font-size: 20px;
  font-style: italic;
}
.d{
  color: red;
  font-size: 20px;
  font-style: italic;
}
.e{
  color: red;
  font-size: 20px;
  font-style: italic;
}
.f{
  color: red;
  font-size: 20px;
  font-style: italic;
}
.g{
  color: red;
  font-size: 20px;
  font-style: italic;
}
.h{
  color: red;
  font-size: 20px;
  font-style: italic;
}
.i{
  color: red;
  font-size: 20px;
  font-style: italic;
}
.j{
  color: red;
  font-size: 20px;
  font-style: italic;
}
.k{
  color: red;
  font-size: 20px;
  font-style: italic;
}
.z
{
  margin-left: 35px;
}
.x
{
margin-top: 20px;
  margin-left: 200px;
}
.w{
  margin-top: 20px;
}
.v
{
  margin-top: 20px;
  margin-left: 10px;
}
.u{
  margin-top: 20px;
}
.t{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.s
{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}
